div.contact {
	margin: 5px;
	border: solid 1px #EEE;
	width: 300px;
	height: 115px;
	overflow: auto;
	float: left;
}

div.contact:hover {
	border: solid 1px #000;
	cursor: pointer;
}

/*.contact_list li:nth-child(1n+0) {
	float: left;
}

.contact_list li:nth-child(2n+0) {
	float: right;
	color: #F00;
}

.contact_list li:nth-child(3n+0) {
	float: right;
	clear: right;
}
*/

header {
	margin-bottom: 10px;
}

header span.search {
	float: right;
}

.display_options {
	margin-left: 100px;
}

.propername {
	text-transform: capitalize;
}

.contacts_table {
	width: 100%;
}

.contacts_table th {
	text-align: left;
	background-color: #EEE;
}

.contacts_table td {
	border-bottom: solid 1px #EEE;
}

.contacts_table td:hover {
	cursor: pointer;
}

/* Begin New Contact styles */
div#contact_new {
	border: solid 1px #000;
	width: 300px;
}

div#contact_new div.contact_field {
	width: 100%;
	margin: 5px 3px 5px 3px;
}

div#contact_new div.contact_field input, div#contact_new div.contact_field select {
	width: 96%;
}

div#contact_new div.center {
	text-align: center;
}
/* End New Contact styles */

.contacts_table a {
	text-decoration: none;
}

.contacts_table a.active {
}

.contacts_table span.order_by_inactive {
	color: #aaa;
}

.contacts_table span.order_by_active {
	color: #000;
}

.contacts_table span.asc::before {
	content: '\25B2';
}

.contacts_table span.desc::before {
	content: '\25BC';
}