div.contact {
	margin: 5px;
	border: solid 1px #EEE;
	width: 300px;
	height: 125px;
	overflow: auto;
	float: left;
}

div.contact:hover {
	border: solid 1px #000;
	cursor: pointer;
}

header {
	margin-bottom: 10px;
}

header span.search {
	float: right;
}

.display_options {
	margin-left: 100px;
}

.propername {
	text-transform: capitalize;
}

.contacts_table {
	width: 100%;
}

.contacts_table th {
	text-align: left;
	background-color: #EEE;
}

.contacts_table td {
	border-bottom: solid 1px #EEE;
}

.contacts_table td:hover {
	cursor: pointer;
}

.contacts_table .selectedContact {
	background-color: #EEE;
}

.crud_links {
	float: right;
}

.crud_links a {
	float: right;
	color: #00F;
	cursor: pointer;
	font-size: 10px;
	clear: none;
}

/* Begin New Contact styles */
div#contact_new {
	border: solid 1px #000;
	width: 300px;
}

div#contact_new div.contact_field {
	width: 100%;
	margin: 5px 3px 5px 3px;
}

div#contact_new div.contact_field input, div#contact_new div.contact_field select {
	width: 96%;
}

div#contact_new div.center {
	text-align: center;
}
/* End New Contact styles */

/* Begin edit contact styles */

div.contact_edit {
	border: solid 1px #000;
	width: 300px;
	margin: 2px 0px 2px 0px;
}

div.contact_edit label {
	float: left;
	width: 110px;
}

div.contact_edit select,
div.contact_edit input {
	float: right;
}

div.contact_edit br {
	clear: both;
}

/* End New Contact styles */

.contacts_table a {
	text-decoration: none;
}

.contacts_table a.active {
}

.contacts_table span.order_by_inactive {
	color: #aaa;
}

.contacts_table span.order_by_active {
	color: #000;
}

#list_sorter {
	cursor: pointer;
}

span.asc::before {
	content: '\25B2';
}

span.desc::before {
	content: '\25BC';
}

br.no_clear {
	clear: none;
}