doctype html

html( ng-app='contactListApp' )
	head
		meta( charset='utf-8' )
		meta( name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1' )

		title Sample Contact Manager in MEAN

		if isDev
			script( src='/js/angular.js' )
			script( src='/js/angular-route.js' )
			script( src='/js/contact_manager.js' )
			script( src='/js/contact-manager-state.js' )
		else
			script( src='/js/min.js' )

		link( rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' media='screen, projection' )

		if isDev
			link( rel='stylesheet' type='text/css' href='/css/contactmanager.css' media='screen, projection' )
		else
			link( rel='stylesheet' type='text/css' href='/css/min.css' media='screen, projection' )

	body( ng-controller='contactListCtrl' ng-init='initializeData()' )

		div( ng-view )
