// Define our colors
$border-color: #eee;
$background-color: #fff;
$font-color: #000;
$link-color: #337ab7;
$nav-bar-background-color: #222222;
$nav-bar-color: #cccccc;
$signin-background: transparent;

// #ffcf93; // Manilla folder color

// Gradient colors for the main background
$gradient-top: #ffcf93;
$gradient-bottom: #bf9c70;
$non-gradient-background-color: #ffdbae;

// Mixins
@mixin sort_arrows() { 
	span.asc::before {
		margin-top: 6px;
		content: '\25B2';
		cursor: pointer;
	}

	span.desc::before {
		margin-top: 6px;
		content: '\25BC';
		cursor: pointer;
	}

	span.order_by_inactive {
		color: #555;
	}

	span.order_by_active {

	}
}

/********************************************************
 *** Signup/login page styles ***************************
 ********************************************************/

body#signin-create {
	& {
		background-color: #c9c9c9;
		background-image: url( '/images/desktop.jpeg' );
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

section#signin {
	& {
		max-width: 400px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 75%;
		transform: translateY( 60% );
	}

	span.tab.active {
		color: #222;
		background-color: $signin-background;
		border-bottom-color: $signin-background;
	}

	span.tab {
		padding-left: 20px;
		padding-right: 20px;
		cursor: pointer;
		width: 200px;
		display: inline;
		text-decoration: underline;
		color: #00e;
		font-weight: bold;
		background-color: $signin-background;
		text-align: center;
	}

	div.tab-content {
		& {
			width: 400px;
			height: 300px;
			margin-left: -15px;
			margin-top: -1px;
			background-color: $signin-background;
		}

		div.error {
			width: 90%;
			background-color: #eee;
			color: #F00;
			font-size: 16px;
			margin: 5px 5px 0px 2px;
		}

		div.message {
			width: 90%;
			background-color: #eee;
			color: #00F;
			font-size: 16px;
			margin: 5px 5px 0px 2px;
		}

		div.form-group {
			margin-top: 5px;
			padding-left: 5px;
			padding-right: 5px;
			width: 400px;
		}
	}
}

div.contact_list {

	div.contact {
		& {
			margin: 5px;
			width: 300px;
			height: 125px;
			overflow: auto;
			padding: 2px;
			float: left;
			background-color: #fff;
			background-image: url( '/images/paper.jpg' );
			background-size: cover;
		}

		&:hover {
			border: solid 1px #000;
			box-shadow: 4px 4px 3px #333;
			cursor: pointer;
		}
	}
}

.propername {
	text-transform: capitalize;
}

.crud_links {
	& {
		float: right;
	}

	a {
		float: right;
		color: $link-color;
		cursor: pointer;
		font-size: 10px;
		clear: none;
	}
}

// The complete header (bar plus menu)
nav#header-container {
	div#nav-top-bar {
		background-color: $nav-bar-background-color;
		border-color: #080808;
	}

	div.navbar-header {
		& {
			float: none;
		}

		button {
			& {
				border-color: #aaa;
			}

			span.icon-bar {
				background-color: #FFFFFF;
				border-radius: 1px;
				display: block;
				height: 2px;
				width: 22px;
			}
		}

		span.message {
			color: $nav-bar-color;
			font-size: 24px;
			margin-top: 5px;
		}
	}

	button.navbar-toggle {
		display: block;
		float: right;
	}

	div#myNavbar {
		& {
			float: right;
			width: 30%;
			min-width: 300px;
			padding: 0px;
			margin: 0px;
			color: #CCC;
		}

		a {
			color: $nav-bar-color;
			text-decoration: underline;
			font-size: 14px;
			font-weight: bold;
		}

		ul.header-menu {
			& {
				padding: 0px;
				margin: 0px;
				width: 100%;
			}

			li {
				background-color: $nav-bar-background-color;
				padding: 5px;
				width: 100%;
			}

			li.separator {
				border-bottom: solid 1px #888;
				height: 1px;
				margin: 0px;
				padding: 0px;
			}
		}

		div.header-menu-item  {
			padding: 0px;
			margin: 0px;
		}

		div#list-view-order-by-container {
			display: inline-block;
			width: 90%;
		}

		div#list-view-order-by-order {
			& {
				float: right;
			}

			@include sort_arrows();
		}

		div#action-select-container {
			display: inline-block;
			width: 83%;
		}

		div#action-execute-container {
			float: right;
		}

		div#search-field-container {
			& {
				display: inline-block;
				width: 90%;
			}

			input {
				color: #000;
			}
		}

		div#search-clear {
			float: right;
			cursor: pointer;
		}
	}
}
div#contact_new_wrapper {
	& {
		text-align: center;
	}

	form#contact_new {
		& {
			width: 400px;
			margin: 2px auto 10px auto;
			padding: 10px 6px 6px 10px;
			max-width: 468px;
			min-width: 363px;
			background-image: url( '/images/paper.jpg' );
			box-shadow: 4px 4px 3px #333;
		}

		div.contact_field {
			& {
				height: 30px;
				margin-right: 5px;
				margin-left: 5px;
				max-width: 100%;
			}

			input, select {
				width: 96%;
			}

			div.center {
				text-align: center;
			}
		}

		button#create-contact {
			margin-left: 10px;
		}
	}
}

div#contact_edit_wrapper {
	& {
		padding-top: 20px;
		text-align: center;
	}

	div.contact_edit {
		& {
			width: 400px;
			margin: 2px auto 10px auto;
			padding: 10px 6px 6px 10px;
			max-width: 468px;
			min-width: 363px;
			background-image: url( '/images/paper.jpg' );
			box-shadow: 4px 4px 3px #333;
		}

		label {
			width: 30%;
			margin-left: 2px;
			text-align: left;
		}

		div.form-field-container {
			width: 68%;
			float: right;
			margin: 2px;
		}

		br {
			clear: both;
		}

		button#save-button {
			margin-left: 10px;
		}
	}
}

.contacts_table {
	@include sort_arrows();

	& {
		width: 100%;
	}

	th a {
		text-decoration: none;
		outline: 0;
	}

	th {
		text-align: left;
		background-color: $border-color;
	}

	td {
		border-bottom: solid 1px $border-color;
		background-color: #FFF;
	}

	td:hover {
//		cursor: pointer;
	}

	tr.selectedContact {
		background-color: $border-color;
	}
}

br.no_clear {
	clear: none;
}

.responseMessage {
	color: $link-color;
	width: 100%;
	text-align: center;
}

@media (max-width: 480px) {
	table.contacts_table {
		font-size: 10px;
	}
}

ul.mobile-menu li.tall {
	height: 36px;
}

// This rule is used on both the signup page and the table view sorter
span.active {
	font-weight: bold;
	border-bottom: solid 1px #FFF;
}

/********************************************************
 *** General styles *************************************
 ********************************************************/
html,body.dashboard {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

body.dashboard {
	background: $non-gradient-background-color; // For browsers that do not support gradients
	background: -webkit-linear-gradient( $gradient-top, $gradient-bottom ); // For Safari >= 5.1
	background: -o-linear-gradient( $gradient-top, $gradient-bottom ); // For Opera >= 11.1
	background: -moz-linear-gradient( $gradient-top, $gradient-bottom ); // For Firefox >= 3.6
	background: linear-gradient( $gradient-top, $gradient-bottom ); // Standard syntax
	font-size: 14px;
	color: $font-color !important;
	font-family: "Helvetica Neue", ​Helvetica, ​Arial,​ sans-serif;
}

a {
	color: $link-color;
}

div#bg {
	padding-top: 50px;
}