<nav class="navbar navbar-fixed-top" role="navigation" id="header-container">
	<div class="container-fluid" id="nav-top-bar">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<span class="message">{{header_message}}</span>
		</div>
	</div>
	<div class="nav navbar-nav navbar-right collapse" id="myNavbar">
		<ul class="nav navbar-nav header-menu">
			<li>
				<div class="header-menu-item">
					Contacts Display Format
				</div>
			</li>
			<li>
				<div class="header-menu-item">
					<select	ng-model="state.template" ng-options="t.name for t in state.templates" 
						ng-change="mobile_menu_visible = false" class="form-control">
					</select>
				</div>
			</li>
			<li class="separator">
				&nbsp;
			</li>
			<li ng-show="state.template.name == 'list'">
				<div class="header-menu-item">
					Order Contacts By
				</div>
			</li>
			<li ng-show="state.template.name == 'list'">
				<div class="header-menu-item">
					<div id="list-view-order-by-container" class="header-menu-item">
						<select ng-model="state.order_by_field"
								ng-change="state.changeSort( state.order_by_field, true )"
								class="form-control">
							<option ng-repeat="(key, value) in state.all_order_bys" value="{{key}}" 
									ng-selected="key == data.order_by">
								{{key}}
							</option>
						</select>
					</div>
					<div id="list-view-order-by-order">
						<span ng-class="{ asc: ! state.order_by_desc, desc: state.order_by_desc }"
								ng-click="state.changeSort( state.order_by_field, true )">
						</span>
					</div>
				</div>
			</li>
			<li class="separator">
				&nbsp;
			</li>
			<li ng-show="state.template.name == 'table'">
				<div class="header-menu-item">
					Select an action for selected contacts
				</div>
			</li>
			<li ng-show="state.template.name == 'table'">
				<div class="header-menu-item">
					<div id="action-select-container">
						<select ng-model="state.actions.selected" class="form-control"
								ng-options="action.value as action.name for action in state.actions.	selectableActions">
							<option value="">Select An Action</option>
						</select>
					</div>
					<div id="action-execute-container">
						<button ng-show="state.template.name == 'table'" ng-click="performSelectedAction()" 
								class="btn btn-default action-button">
							Go
						</button>
					</div>
				</div>
			</li>
			<li class="separator" ng-show="state.template.name == 'table'">
				&nbsp;
			</li>
			<li>
				<div class="header-menu-item">
					Filter Contacts
				</div>
			</li>
			<li>
				<div class="header-menu-item">
					<div id="search-field-container">
						<input type="search" placeholder="Filter contacts" class="form-control"
								ng-model="state.filter_text" />
					</div>
					<div id="search-clear">
						<span class="glyphicon glyphicon-remove" ng-click="clearFilter()"></span>
					</div>
				</div>
			</li>
			<li class="separator">
				&nbsp;
			</li>
			<li>
				<div class="header-menu-item">
					<a href="#/new">
						Add Contact
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</a>
				</div>
			</li>
			<li>
				<div class="header-menu-item">
					<a href="javascript:void(0)" ng-click="doLogout()">
						Logout
						<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
					</a>
				</div>
			</li>
		</ul>
	</div>
</nav>

<div class="container-fluid">
	<div id="bg" class="row">
		<ng-include src="state.template.url"></ng-include>
	</div>
</div>

<br style="clear: both;" />