<div class="contact_list" class="col-xs-12">
	<div class="contact" ng-repeat="contact in contacts | filter:state.filter_text | 
			orderBy: state.order_by_field: state.order_by_desc" ng-cloak>
		<div class="crud_links">
			<a href="javascript:void(0);" ng-click="deleteContact( contact, true )">
				delete
			</a>
			<br class="noclear" />
			<a href="javascript:void(0);" ng-click="editContact( contact )">
				edit
			</a>
		</div>

		<span class="propername">{{contact.firstname + ' ' + contact.lastname}}</span><br />
		<span><a href="mailto:{{contact.email}}">{{contact.email}}</a></span><br />
		<span class="propername">{{contact.street}}</span><br />
		<span class="propername">{{contact.street2}}</span><br ng-if="contact.street2" />
		<span class="propername">
			{{contact.city + ' ' + contact.state.toUpperCase() + ' ' + contact.zip}}
		</span>
		<br />
		<span>{{contact.phone}}</span>
	</div> 
</div>