<header>
	<div class="navbar navbar-default navbar-fixed-top hidden-lg hidden-md hidden-sm" role="navigation">
		<button type="button" class="navbar-toggle" ng-click="mobile_menu_visible = ! mobile_menu_visible">
			<span class="sr-only">Toggle Navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<div class="message">
			{{header_message}}
		</div>
		<br />

		<ul class="mobile-menu hidden-lg hidden-md form-group" ng-show="mobile_menu_visible">
			<li>
				<a href="#/new">
					Add Contact
				</a>
			</li>
			<li class="tall">
				<span class="display_options">
					Display
					<div class="template_switcher_container">
						<select ng-model="template" ng-options="t.name for t in templates" 
								ng-change="mobile_menu_visible = false" class="form-control">
						</select>
					</div>
				</span>
			</li>
			<li ng-show="template.name == 'list'" class="tall">
				<div class="order_by_container">
					<select ng-show="template.name == 'list'" ng-model="order_by" ng-change="onSort()"
							class="form-control">
						<option ng-repeat="(key, value) in order_bys" value="{{key}}" ng-selected="key == order_by">
							{{key}}
						</option>
					</select>
				</div>
				<span ng-class="{ asc: ! order_by_reverse, desc: order_by_reverse }" id="list_sorter"
						ng-click="order_by_reverse = !order_by_reverse" style="float: right;">
					&nbsp;
				</span>
			</li>
			<li>
				<div class="search-container">
					<input class="form-control" placeholder="Search" type="search" ng-model="filter_text" />
				</div>

				<span class="glyphicon glyphicon-ban-circle clear-search" ng-click="clearFilter()">
				</span>
			</li>
			<li ng-show="template.name == 'table'">
				<div class="action-container">
					<select ng-model="actions.selected" class="form-control"
							ng-options="action.value as action.name for action in actions.selectableActions">
						<option value="">Select An Action</option>
					</select>
				</div>

				<button ng-show="template.name == 'table'" ng-click="performSelectedAction()" 
						class="btn btn-default action-button">
					Go
				</button>
			</li>
		</ul>
	</div>
	<br class="hidden-lg hidden-md" />

	<span class="hidden-xs full-menu form-group">
		<span>
			Create, edit, and manage your contact information
		</span>

		<span class="search">
			<input placeholder="Search" type="search" ng-model="filter_text" />


			<button ng-click="clearFilter()" class="btn-default">
				Clear
			</button>
		</span>

		<div class="display_options">
			<b>Display: </b>
			<span class="container">
				<select class="form-control" ng-model="template" ng-options="t.name for t in templates">
				</select>
			</span>
		</div>

		<a href="#/new">
			Add Contact
		</a>
		<br />

		<div class="action-container">
			<select ng-show="template.name == 'table'" ng-model="actions.selected" class="form-control"
					ng-options="action.value as action.name for action in actions.selectableActions">
				<option value="">Select An Action</option>
			</select>
		</div>

		<button ng-show="template.name == 'table'" ng-click="performSelectedAction()" class="btn-default">
			Go
		</button>

		<span class="order-by" ng-show="template.name == 'list'">Order By:</span>
		<select ng-show="template.name == 'list'" ng-model="order_by" ng-change="onSort()">
			<option ng-repeat="(key, value) in order_bys" value="{{key}}" ng-selected="key == order_by">
				{{key}}
			</option>
		</select>

		<span ng-show="template.name == 'list'" ng-class="{ asc: ! order_by_reverse, desc: order_by_reverse }" id="list_sorter"
				ng-click="order_by_reverse = !order_by_reverse">
			&nbsp;
		</span>

		<div ng-show="responseMessage" class="responseMessage">
			{{responseMessage}}
		</div>
	</span>
</header>

<br />

<ng-include src="template.url"></ng-include>