<table class="contacts_table table-hover table-bordered table-condensed">
	<tbody class="container">
		<tr class="row">
			<th class="col-md-2">
				First Name
				<a href="javascript:void(0)" 
					ng-class="{ active: state.all_order_bys.firstname.active, 
								reverse: state.all_order_bys.firstname.desc }"
					ng-click="state.changeSort( 'firstname', true )">
						<span ng-class="{ 
							order_by_active: state.all_order_bys.firstname.active, 
							order_by_inactive: ! state.all_order_bys.firstname.active, 
							asc: ! state.all_order_bys.firstname.desc, 
							desc: state.all_order_bys.firstname.desc 
						}">
							&nbsp;
						</span>
				</a>
			</th>
			<th class="col-md-1">
				Last Name
				<a href="javascript:void(0)"
					ng-class="{ active: state.all_order_bys.lastname.active, 
								reverse: state.all_order_bys.lastname.desc }"
					ng-click="state.changeSort( 'lastname', true )">
						<span ng-class="{ 
							order_by_active: state.all_order_bys.lastname.active, 
							order_by_inactive: ! state.all_order_bys.lastname.active, 
							asc: ! state.all_order_bys.lastname.desc, 
							desc: state.all_order_bys.lastname.desc 
						}">
							&nbsp;
						</span>
				</a>
			</th>

			<th class="col-md-1">Phone</th>

			<th class="col-md-1">
				Email Address
				<a href="javascript:void(0)"
					ng-class="{ active: state.all_order_bys.email.active, 
								reverse: state.all_order_bys.email.desc }"
					ng-click="state.changeSort( 'email', true )">
						<span ng-class="{ 
							order_by_active: state.all_order_bys.email.active, 
							order_by_inactive: ! state.all_order_bys.email.active, 
							asc: ! state.all_order_bys.email.desc, 
							desc: state.all_order_bys.email.desc 
						}">
							&nbsp;
						</span>
				</a>
			</th>
			<th class="col-md-2">Street</th>
			<th class="col-md-1">Street2</th>
			<th class="col-md-1">City</th>
			<th class="col-md-1">State</th>
			<th class="col-md-1">Zip</th>
			<th class="col-md-1">&nbsp;</th>
		</tr>
		<tr class="row" ng-repeat="contact in contacts | filter:state.filter_text | 
					orderBy: state.order_by_field: state.order_by_desc"
						ng-class="{selectedContact: selectedContacts.indexOf( contact.id ) > -1 }">
			<td class="propername col-md-2">{{contact.firstname}}</td>
			<td class="propername col-md-1">{{contact.lastname}}</td>
			<td class="col-md-1">{{contact.phone}}</td>
			<td class="col-md-1"><a href="mail:to{{contact.email}}">{{contact.email}}</a></td>
			<td class="propername col-md-2">{{contact.street}}</td>
			<td class="propername col-md-1">{{contact.street2}}</td>
			<td class="propername col-md-1">{{contact.city}}</td>
			<td class="propername col-md-1">{{contact.state.toUpperCase()}}</td>
			<td class="propername col-md-1">{{contact.zip}}</td>
			<td class="col-md-1">
				<input type="checkbox" ng-model="contact.selected" 
						ng-init="contact.selected = false"
						ng-checked="contact.selected" />
			</td>
		</tr>
	</tbody>
</table>