<!DOCTYPE html>
<html lang="en" ng-app="signInApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="device-width, initial-scale=1">
	
	<title>Sign in or create an account</title>
	
	<script src="/js/min.js"></script>

	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" media="screen, projection">
	<link rel="stylesheet" type="text/css" href="css/min.css" media="screen, projection">
</head>

<body ng-controller="signinController" id="signin-create">

<div id="signin-create-container">

	<section id="signin" class="container form">
		<div class="tab-content">
			<div class="row form-group" ng-hide="mode != 'signin'">
				<form ng-submit="doSignin()">
					<div class="col-xs-12">
						<input type="text" class="form-control" ng-model="login.name" placeholder="User Name" />
						<br />
						<input type="password" class="form-control" ng-model="login.password" placeholder="Password" />
						<br />
					</div>
				</form>
			</div>
			<div class="row form-group" ng-hide="mode != 'create'">
				<form ng-submit="doCreateUser()">
					<div class="col-xs-12">
						<input type="text" class="form-control" ng-model="newuser.name" 
								placeholder="Desired User Name" />
						<br />
						<input type="password" class="form-control" ng-model="newuser.password" 
								placeholder="Password" />
						<br />
						<input type="password" class="form-control" ng-model="newuser.repeat_password" 
								placeholder="Repeat Password" />
						<br />
					</div>
				</form>
			</div>
			<div class="row">
				<span class="tab col-xs-4" ng-hide="mode == 'create'"
					ng-click="mode = 'create'; statusMessage = ''; errorMessage = '';">
					Create
				</span>
				<span class="tab col-xs-4" ng-hide="mode == 'signin'"
					ng-click="mode = 'signin'; statusMessage = ''; errorMessage = '';">
					Log in
				</span>
				<span class="col-xs-4">
					<input ng-hide="mode != 'create'" type="submit" ng-click="doCreateUser()"
							class="btn btn-primary" value="Create Account" />
					<input ng-hide="mode != 'signin'" type="submit" ng-click="doSignin()"
							class="btn btn-primary" value="Log In" />
				</span>
			</div>
			<div class="row message" ng-show="statusMessage.length > 0">
				<span class="col-xs-12">
					{{statusMessage}}
				</span>
			</div>
			<div class="row error" ng-show="errorMessage.length > 0">
				<span class="col-xs-12">
					{{errorMessage}}
				</span>
			</div>
		</div>
	</section>

</div>

</body>

</html>