<table class="contacts_table">
<tbody>
	<tr>
		<th>First Name</th>
		<th>Last Name</th>
		<th>Phone</th>
		<th>Street</th>
		<th>Street2</th>
		<th>City</th>
		<th><State/th>
		<th>Zip</th>
	</tr>
	<tr ng-repeat="contact in contacts">
		<td class="propername">{{contact.firstname}}</td>
		<td class="propername">{{contact.lastname}}</td>
		<td>{{contact.phone}}</td>
		<td class="propername">{{contact.street}}</td>
		<td class="propername">{{contact.street2}}</td>
		<td class="propername">{{contact.city}}</td>
		<td class="propername">{{contact.state}}</td>
		<td class="propername">{{contact.zip}}</td>
	</tr>
</tbody>
</table>