<div class="contact_edit" ng-repeat="contact in contactsUnderEdit">
	First Name:
	<input type="text" ng-model="contact.firstname" value="contact.firstname" />
	<br />

	Last Name:
	<input type="text" ng-model="contact.lastname" value="contact.lastname" />
	<br />

	Email Address:
	<input type="text" ng-model="contact.email" value="contact.email" />
	<br />

	Phone:
	<input type="text" ng-model="contact.phone" value="contact.phone"/>
	<br />

	Street Address:
	<input type="text" ng-model="contact.street" value="contact.street" />
	<br />

	Street2:
	<input type="text" ng-model="contact.street2" value="contact.street2" />
	<br />

	City: 
	<input type="text" ng-model="contact.city" value="contact.city" />
	<br />
</div>

<button ng-click="saveEdits()">
	Save
</button>

<br />