<div class="contact_edit" ng-repeat="contact in contactsUnderEdit">
	<label>First Name:</label>
	<input type="text" ng-model="contact.firstname" value="contact.firstname" />
	<br />

	<label>Last Name:</label>
	<input type="text" ng-model="contact.lastname" value="contact.lastname" />
	<br />

	<label>Email Address:</label>
	<input type="text" ng-model="contact.email" value="contact.email" />
	<br />

	<label>Phone:</label>
	<input type="text" ng-model="contact.phone" value="contact.phone"/>
	<br />

	<label>Street Address:</label>
	<input type="text" ng-model="contact.street" value="contact.street" />
	<br />

	<label>Street2:</label>
	<input type="text" ng-model="contact.street2" value="contact.street2" />
	<br />

	<label>City:</label>
	<input type="text" ng-model="contact.city" value="contact.city" />
	<br />

	<label>State:</label>
	<select ng-model="contact.state" ng-options="state.value as state.name for state in states">
		<option value="">Select State</option>
	</select>
	<br />
</div>

<br />

<button ng-click="saveEdits()">
	Save
</button>