<table class="contacts_table">
<tbody>
	<tr>
		<th>
			First Name
			<a href="" 
				ng-class="{ active: order.firstname, reverse: order.firstname && order_by_reverse }"
				ng-click="onSort( 'firstname' )">
					<span ng-class="{ order_by_active: order.firstname, order_by_inactive: ! order.firstname, asc: ! order_by_reverse || ! order.firstname, desc: order.firstname && order_by_reverse }">
						&nbsp;
					</span>
			</a>
		</th>
		<th>
			Last Name
			<a href="" 
				ng-class="{ active: order.lastname }"
				ng-click="onSort( 'lastname' )">
					<span ng-class="{ order_by_active: order.lastname, order_by_inactive: ! order.lastname, asc: ! order_by_reverse || ! order.lastname, desc: order.lastname && order_by_reverse }">
						&nbsp;
					</span>
			</a>
		</th>
		<th>Phone</th>
		<th>
			Email Address
			<a href="" 
				ng-class="{ active: order.email }"
				ng-click="onSort( 'email' )">
					<span ng-class="{ order_by_active: order.email, order_by_inactive: ! order.email, asc: ! order_by_reverse || ! order.email, desc: order.email && order_by_reverse }">
						&nbsp;
					</span>
			</a>
		</th>
		<th>Street</th>
		<th>Street2</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
	</tr>
	<tr ng-repeat="contact in contacts | filter: filter_text | orderBy: order_by: order_by_reverse">
		<td class="propername">{{contact.firstname}}</td>
		<td class="propername">{{contact.lastname}}</td>
		<td>{{contact.phone}}</td>
		<td><a href="mail:to{{contact.email}}">{{contact.email}}</a></td>
		<td class="propername">{{contact.street}}</td>
		<td class="propername">{{contact.street2}}</td>
		<td class="propername">{{contact.city}}</td>
		<td class="propername">{{contact.state.toUpperCase()}}</td>
		<td class="propername">{{contact.zip}}</td>
	</tr>
</tbody>
</table>