<div class="contact_list">
	<div class="contact" ng-repeat="contact in contacts | filter:filter_text | orderBy:order_by">
		<span class="propername">{{contact.firstname + ' ' + contact.lastname}}</span><br />
		<span><a href="mailto:{{contact.email}}">{{contact.email}}</a></span><br />
		<span class="propername">{{contact.street}}</span><br />
		<span class="propername">{{contact.street2}}</span><br ng-if="contact.street2" />
		<span class="propername">{{contact.city + ' ' + contact.state.toUpperCase() + '. ' + contact.zip}}</span><br />
		<span>{{contact.phone}}</span>
	</div> 
</div>